.suggestEvent {
    background-color: white;
    padding: 10px;
    max-height: 80vh;
}
.suggest-heading {
    border-bottom: 1px solid #767a81;
    padding-bottom: 20px;
}
.box {
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
}
.suggest-img {
    width: 50px;
    margin-right: 15px;
}
.suggest-name {
    font-size: 18px;
    margin: 0;
    width: 100%;
    text-align: left;
}
.suggest-suggest {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #767a81;
}
.suggest-circleplay {
    color: #767a81;
    font-size: 20px;
    margin-left: auto;
}